<!DOCTYPE html>
<html lang="en">
  <%= erb :head %>

  <body>
    <%= erb :menu %>

    <div class="container">
      <%= erb :chart %>

      <div class="row">
        <div id="controller" class="span12">
          <h2>Controller</h2>
          <table id="slowest_controller" class="table">
            <tr class="header">
              <th>Controller#Action</th>
              <th>Database</th>
              <th>View</th>
              <th>Duration</th>
              <th>Reported at</th>
            </tr>
          </table>
        </div>
      </div>
    </div> <!-- /container -->

    <%= erb :scripts %>
  </body>
</html>
